

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
 .logo img{
    height: 180px;
    width: 100%;
}
.icons{
    justify-content: center;


}
.icons i{
    font-size: 30px;
}
button{
    background: transparent; /* Remove o fundo */
    border: none; /* Remove a borda */
}
.main-menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}

li{
    margin: 20px;
    font-family: "Raleway", sans-serif;
}
.images {
    display: flex; /* Aplicando flex ao contêiner pai */
    justify-content: center;
}

.images img {
    width: 450x;
    height: 600px;
    margin: 20px;
    /* O resto do seu estilo aqui */
}

.range {
    display: flex; /* Torna o container flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: black; /* Define a cor de fundo para preto */
    color: white; /* Define a cor do texto como branco */
    height: 58px;
}

label {
    margin: 0 45px; /* Espaçamento entre os ícones */
    width: 200px;
    height: 200px;
    display: flex; /* Torna os rótulos flexíveis */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}
label i {
    font-size: 30px; /* Ajuste o tamanho do ícone conforme necessário */
}

.range p{
    font-size: 15px;
    margin-left: 11px;
    font-family: "Raleway", sans-serif;
}

title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
}